
@media (min-width: 576px) {

    .offer-box {
        width: 45.62%;
        padding-bottom: 45.62%;
        margin-right: 8.75%;        
    }
    .offer-box:nth-of-type(2n) {
        margin-right: 0;
    }
    .nav-links {
        display: inline;
    }
    h1 {
        font-size: 36px;        
    }
    .offer h1{
        text-align: left;
    }

    .footer-links {        
        position: absolute;
        right: 0;
    }

    footer .container {        
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
}

@media (min-width: 768px) {

    .about h1 {
    text-align: left;
    }   

    .about-employee {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-employee:nth-of-type(even) {
        flex-direction: row-reverse;
        text-align: right;
    }

    .about-employee-desc {
        width: calc(100% - 250px);
    }

    .about-employee-pic1 {
        margin: 0px;
    }

    .about-employee-pic2 {
        margin: 0px;
    }

}

@media (min-width: 1024px) {

    .offer-box {
        width: 27.5%;
        padding-bottom: 27.5%;
    }

    .offer-box:nth-of-type(2n) {
        margin-right: 8.75%;  
    }

    .offer-box:nth-of-type(3n) {
        margin-right: 0;
    }

    .landing-page-btn:hover{
        background-color: white;
        color: black;
    }
}