html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

.not-allowed {cursor: not-allowed;}

.container {
  width: 90%;
  margin: 0 auto;
  font-size: 18px;
  position: relative; 
}

section {
  padding: 50px;
}
