
nav {
    background-color: #4E4E4E;
    color: white;
    }
  
nav a {
    color: white;    
    text-decoration: none;
}

.nav-link {
    margin-right: 10px;
}

.nav-links {
    display: none;
}

nav .container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
  
h1 {
    font-size: 26px;
    font-weight: bold;
    color: #FFFFFF;
}
  
h2 {
  font-weight: bold;
  font-size: 18px;
}
  
.landing-page {
    height: 100vh;
    padding: 0;
    background-image: url(https://picsum.photos/1920/1080);
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
}
  
.landing-page-shadow {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}
  
.landing-page-shadow .container {
    height: 35%; 
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
  
.landing-page-btn {
    padding: 10px 45px;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    transition: 1s;
}

.landing-page h1 {
   padding-right: 10%;
}

.about {
    background-color: #F1F1F1;
}
  
.about h1 {
    margin-bottom: 50px;    
    color: #152D41;
    text-align: center;
}
  
.about p {
    margin-top: 10px;
}
  
.about-employee {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    text-align: justify;
}
  
.about-employee-pic1 {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200/200);
}
  
.about-employee-pic2 {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200/200);
}
  
.red-dot {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: -10px;
    background-color:#E07A64;  
}
  
.about-employee-desc2 {
    width: calc(100% - 250px);
    text-align: right;
}
  
.offer {
    background-color: #405D78;
}
  
.offer h1 {
    margin-bottom: 50px;    
    text-align: center;
}
  
.offer-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}
  
.offer-box {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 8.75%;
    background-color: #F1F1F1;
}
  
.offer-box-content {
    position: absolute;
    display: flex;
    align-items: center;  
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    transition: 0.5s;
}
  
.offer-box-content:hover {
    transform: scale(1.05);
    background-color: #F1F1F1;
}
  
.offer-box-content span {
  font-size: 18px;
}
  
footer {
    background-color: #4E4E4E;
    color: white;
    height: 80px;    
    display: flex;
}
  
footer h2 {
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer a {
    color: white;
    margin: 5px;  
  }

.footer-links {  
    align-items: center;    
    margin: 0 auto;
    text-align: center;
}